/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 150px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 10%;
    max-width: 10000px;
  }
  
  .image {
    height: 120px;
    width: 200px;
    padding: 3px;
    transition: .3s;
    transition-timing-function: ease-in-out;
  }
  
  .items {
    justify-content: center;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: left .5s;
    transition-timing-function: ease-in-out;
    position: fixed;
  }
  
  .image:hover {
    height: 220px;
    width: 350px;
    transition: .3s;
    transition-timing-function: ease-in-out;
    z-index: -10;
  }
  
  .button-overlay {
    z-index: 10;
    position: absolute;
    height: 120px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 3em;
    align-items: center;
    display: flex;
    opacity: 0.9;
    top: 40%;
    cursor: pointer;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }